            <style>
                *{margin:0; padding:0; list-style:none;}
                .canvas{position:relative;
                    top: 10px;}
                .clock{
                    width: 100px;
                    height: 100px;
                    margin:0px auto 5px;
                    margin-top: -1em;
                    margin-left: 40px;
                }
            </style>
            <div class="canvas">
                <div class="clock">
                    <canvas id="cvs" width="200" height="200"></canvas>
                </div>
            </div>
