
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <!--bootstrap-->
    <!--<link rel="stylesheet" href="__PUBLIC__/bs/css/bootstrap.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/bs/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/bs/css/bootstrap-theme.min.css"/>

    <!--jquery-->
    <link href="__PUBLIC__/bs/css/jquery-ui-1.10.3.css" rel="stylesheet">
    
    <!--fonts-->
    <link href="__PUBLIC__/bs/fonts/css/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/bs/fonts/css/font-awesome.min.css" rel="stylesheet">
    
  <!--icheck-->
  <!--<link href="__PUBLIC__/bs/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">-->
  <!--<link href="__PUBLIC__/bs/js/iCheck/skins/square/square.css" rel="stylesheet">-->
  <!--<link href="__PUBLIC__/bs/js/iCheck/skins/square/red.css" rel="stylesheet">-->
  <!--<link href="__PUBLIC__/bs/js/iCheck/skins/square/blue.css" rel="stylesheet">-->

  <!--dashboard calendar-->
  <!--<link href="__PUBLIC__/bs/css/clndr.css" rel="stylesheet">-->

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="__PUBLIC__/bs/js/morris-chart/morris.css">

  <!--common-->
  <link href="__PUBLIC__/bs/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/bs/css/style-responsive.css" rel="stylesheet">
