<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$type} - {$SETUP.title}</title>
    <include file="Public/link"/>
    <style type="text/css">
	.row .page-header h3{color: #ffffff}
	.container-fluid .row-fluid .col-lg-8{color: #000000;}
	.container-fluid{margin-top: 50px;}
	.bg-color{background-color: #ffffff;}
	.icon-img>img{width: 40px;height: 40px;margin: 2px 2px;}
    </style>
    </head>
<body>