<div class="navbar-header">
    <a class="navbar-brand" href="#">SmileEx</a>
</div>
<div>
    <ul class="nav navbar-nav navbar-static-top">
		<li class="active"><a class="" href="" onclick="SML.ToHome()">首页</a></li>
		<foreach name="cate" item="v">
		<li class="">
			<a <if condition="$v['child'] neq ''">class="dropdown-toggle" data-toggle="dropdown"</if> href="__APP__/{$v.url}">{$v.name}
			<if condition="$v['child'] neq ''"><b class="caret"></b> </if></a>
			<ul class="dropdown-menu">
				<foreach name="v['child']" item="v2">
				<li class=""><a class="" href="__APP__/{$v2['url']}">{$v2['name']}</a></li>
				<li class="divider"></li>
				</foreach>
			</ul>
		</li>
		</foreach>
    </ul>
    <ul class="nav navbar-nav navbar-static-top">
	<form action="{:U('Index/Search')}" method="post" class="navbar-form" role="search">
	    <div class="form-group">
		<input type="text" class="form-control" name="search" placeholder="Search...">
	    </div>
	    <button type="submit" class="btn btn-default">搜一下</button>
	</form>
    </ul>
    <ul class="nav navbar-nav navbar-static-top pull-right">
	<if condition="$Think.session.user.id neq ''"><!-- gt >,egt >=,lt < ,eq =,neq <> -->
	    <li class="dropdown">
		<a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:void(0);">欢迎，
		    <font color="red">{$Think.session.user.contact}</font> 回来!</a>
		<ul class="dropdown-menu dropdown-messages">
		    <li><!--  data-toggle="modal" -->
			<a href="{:U('Index/uservip')}"><strong style="color: blueviolet;">进入会员中心</strong></a>
		    </li>
		    <li class="divider"></li>
		    <li>
			<a href="javascript:;" onclick="LogOut()"><strong style="color: blueviolet;">退出登陆</strong></a>
		    </li>
		    <li class="divider"></li>
		    <li>
			<a><i class="fa fa-envelope"></i> <strong style="color: gray;">Smile[微笑]将和你同行...</strong></a>
		    </li>
		</ul>
	    </li>
	    <else/>
	    <li class=""><a data-toggle="modal" href="#myModal6">注册</a></li>
	    <li class=""><a data-toggle="modal" href="#modal-form">登陆</a></li>
	</if>
    </ul>
</div>
