<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- font图标 icon -->
    <link rel="stylesheet" href="__PUBLIC__/bs/css/pintuer.css">
    <!--font图标 fa fa-* -->
    <link rel="stylesheet" href="__PUBLIC__/bs/fonts/css/font-awesome.min.css">
    <style>
        .div h4,h3{
            icolor mediumblue; olor mediumblue;
        }
    </style>
</head>
<body>
<section>
    <h3 class="divIcon">FONT ICON 图标</h3>
    <div class="div divs">
        <i class="icon-arrow-circle-o-down"></i> arrow-circle-o-down
        <i class="icon-barcode"></i> icon-barcode
        <i class="icon-book"></i> icon-book
        <i class="icon-bookmark"></i> icon-bookmark
        <i class="icon-arrow-circle-o-up"></i> arrow-circle-o-up
        <i class="icon-check"></i> icon-check
        <i class="icon-cog"></i> icon-cog
        <i class="icon-cogs"></i> icon-cogs
        <i class="icon-clock"></i> icon-clock
        <i class="icon-download"></i> icon-download
        <i class="icon-envelope-o"></i> icon-envelope-o
        <i class="icon-film"></i> icon-film
        <i class="icon-file"></i> icon-file
        <i class="icon-file-o"></i> icon-file-o
        <i class="icon-flag"></i> icon-lock
        <i class="icon-glass"></i> icon-glass
        <i class="icon-gear"></i> icon-gear
        <i class="icon-heart"></i> icon-heart
        <i class="icon-heart-o"></i> icon-heart-o
        <i class="icon-home"></i> icon-home
        <i class="icon-headphones"></i> icon-headphones
        <i class="icon-inbox"></i> icon-inbox
        <i class="icon-music"></i> icon-music
        <i class="icon-list-alt"></i> icon-list-alt
        <i class="icon-lock"></i> icon-lock
        <i class="icon-road"></i> icon-road
        <i class="icon-rotate-right"></i> icon-rotate-right
        <i class="icon-repeat"></i> icon-repeat
        <i class="icon-refresh"></i> icon-refresh
        <i class="icon-search"></i> icon-search
        <i class="icon-search-plus"></i> icon-search-plus
        <i class="icon-search-minus"></i> icon-search-minus
        <i class="icon-star"></i> icon-star
        <i class="icon-star-o"></i> icon-star-o
        <i class="icon-signal"></i> icon-signal
        <i class="icon-power-off"></i> icon-power-off
        <i class="icon-play-circle-o"></i> icon-play-circle-o
        <i class="icon-print"></i> icon-print
        <i class="icon-th-large"></i> icon-th-large
        <i class="icon-th"></i> icon-th
        <i class="icon-th-list"></i> icon-th-list
        <i class="icon-times"></i> icon-times
        <i class="icon-trash"></i> icon-trash
        <i class="icon-trash-o"></i> icon-trash-o
        <i class="icon-tag"></i> icon-tag
        <i class="icon-tags"></i> icon-tags
        <i class="icon-qrcode"></i> icon-qrcode

        <i class="icon-user"></i> icon-user
        <i class="icon-volume-up"></i> icon-volume-up
        <i class="icon-volume-off"></i> icon-volume-off
        <i class="icon-volume-down"></i> icon-volume-down

        <i class="icon-camera"></i> icon-camera
        <i class="icon-font"></i> icon-font
        <i class="icon-bold"></i> icon-bold
        <i class="icon-italic"></i> icon-italic
        <i class="icon-text-height"></i> icon-text-height
        <i class="icon-text-width"></i> icon-text-width
        <i class="icon-align-left"></i> icon-align-left
        <i class="icon-align-center"></i> icon-align-center
        <i class="icon-align-right"></i> icon-align-right
        <i class="icon-align-justify"></i> icon-align-justify
        <i class="icon-list"></i> icon-list
        <i class="icon-dedent"></i> icon-dedent
        <i class="icon-outdent"></i> icon-outdent
        <i class="icon-indent"></i> icon-indent
        <i class="icon-video-camera"></i> icon-video-camera
        <i class="icon-photo"></i> icon-photo
        <i class="icon-image"></i> icon-image
        <i class="icon-picture-o"></i> icon-picture-o

        <i class="icon-pencil"></i> icon-pencil
        <i class="icon-map-marker"></i> icon-map-marker
        <i class="icon-adjust"></i> icon-adjust
        <i class="icon-tint"></i> icon-tint
        <i class="icon-edit"></i> icon-edit
        <i class="icon-pencil-square-o"></i> icon-pencil-square-o
        <i class="icon-share-square-o"></i> icon-share-square-o
        <i class="icon-check-square-o"></i> icon-check-square-o
        <i class="icon-arrows"></i> icon-arrows
        <i class="icon-step-backward"></i> icon-step-backward
        <i class="icon-fast-backward"></i> icon-fast-backward
        <i class="icon-backward"></i> icon-backward
        <i class="icon-play"></i> icon-play
        <i class="icon-pause"></i> icon-pause
        <i class="icon-stop"></i> icon-stop
        <i class="icon-forward"></i> icon-forward
<i class="icon-fast-forward"></i> icon-fast-forward
<i class="icon-step-forward"></i> icon-step-forward
<i class="icon-eject"></i> icon-eject
<i class="icon-chevron-left"></i> icon-chevron-left
<i class="icon-chevron-right"></i> icon-chevron-right
<i class="icon-plus-circle"></i> icon-plus-circle
<i class="icon-minus-circle"></i> icon-minus-circle
<i class="icon-times-circle"></i> icon-times-circle
<i class="icon-check-circle"></i> icon-check-circle
<i class="icon-question-circle"></i> icon-question-circle
<i class="icon-info-circle"></i> icon-info-circle
<i class="icon-crosshairs"></i> icon-crosshairs
<i class="icon-times-circle-o"></i> icon-times-circle-o
<i class="icon-check-circle-o"></i> icon-check-circle-o
<i class="icon-ban"></i> icon-ban

<i class="icon-arrow-left"></i> icon-arrow-left
<i class="icon-arrow-right"></i> icon-arrow-right
<i class="icon-arrow-up"></i> icon-arrow-up
<i class="icon-arrow-down"></i> icon-arrow-down
<i class="icon-mail-forward"></i> icon-mail-forward
<i class="icon-share"></i> icon-share
<i class="icon-expand"></i> icon-expand
<i class="icon-compress"></i> icon-compress
<i class="icon-plus"></i> icon-plus
<i class="icon-minus"></i> icon-minus
<i class="icon-asterisk"></i> icon-asterisk
<i class="icon-exclamation-circle"></i> icon-exclamation-circle
<i class="icon-gift"></i> icon-gift
<i class="icon-leaf"></i> icon-leaf
<i class="icon-fire"></i> icon-fire
<i class="icon-eye"></i> icon-eye

<i class="icon-eye-slash"></i> icon-eye-slash
<i class="icon-warning"></i> icon-warning
<i class="icon-exclamation-triangle"></i> icon-exclamation-triangle
<i class="icon-plane"></i> icon-plane
<i class="icon-calendar"></i> icon-calendar
<i class="icon-random"></i> icon-random
<i class="icon-comment"></i> icon-comment
<i class="icon-magnet"></i> icon-magnet
<i class="icon-chevron-up"></i> icon-chevron-up
<i class="icon-chevron-down"></i> icon-chevron-down
<i class="icon-retweet"></i> icon-retweet
<i class="icon-shopping-cart"></i> icon-shopping-cart
<i class="icon-folder"></i> icon-folder
<i class="icon-folder-open"></i> icon-folder-open
<i class="icon-arrows-v"></i> icon-arrows-v
<i class="icon-arrows-h"></i> icon-arrows-h

<i class="icon-bar-chart-o"></i> icon-bar-chart-o
<i class="icon-twitter-square"></i> icon-twitter-square
<i class="icon-facebook-square"></i> icon-facebook-square
<i class="icon-camera-retro"></i> icon-camera-retro
<i class="icon-key"></i> icon-key
<i class="icon-gears"></i> icon-gears
<i class="icon-cogs"></i> icon-cogs
<i class="icon-comments"></i> icon-comments
<i class="icon-thumbs-o-up"></i> icon-thumbs-o-up
<i class="icon-thumbs-o-down"></i> icon-thumbs-o-down
<i class="icon-star-half"></i> icon-star-half
<i class="icon-heart-o"></i> icon-heart-o
<i class="icon-sign-out"></i> icon-sign-out
<i class="icon-linkedin-square"></i> icon-linkedin-square
<i class="icon-thumb-tack"></i> icon-thumb-tack
<i class="icon-external-link"></i> icon-external-link

<i class="icon-sign-in"></i> icon-sign-in
<i class="icon-trophy"></i> icon-trophy
<i class="icon-github-square"></i> icon-github-square
<i class="icon-upload"></i> icon-upload
<i class="icon-lemon-o"></i> icon-lemon-o
<i class="icon-phone"></i> icon-phone
<i class="icon-square-o"></i> icon-square-o
<i class="icon-bookmark-o"></i> icon-bookmark-o
<i class="icon-phone-square"></i> icon-phone-square
<i class="icon-twitter"></i> icon-twitter
<i class="icon-facebook"></i> icon-facebook
<i class="icon-github"></i> icon-github
<i class="icon-unlock"></i> icon-unlock
<i class="icon-credit-card"></i> icon-credit-card
<i class="icon-rss"></i> icon-rss

<i class="icon-hdd-o"></i> icon-hdd-o
<i class="icon-bullhorn"></i> icon-bullhorn
<i class="icon-bell"></i> icon-bell
<i class="icon-certificate"></i> icon-certificate
<i class="icon-hand-o-right"></i> icon-hand-o-right
<i class="icon-hand-o-left"></i> icon-hand-o-left
<i class="icon-hand-o-up"></i> icon-hand-o-up
<i class="icon-hand-o-down"></i> icon-hand-o-down
<i class="icon-arrow-circle-left"></i> icon-arrow-circle-left
<i class="icon-arrow-circle-right"></i> icon-arrow-circle-right
<i class="icon-arrow-circle-up"></i> icon-arrow-circle-up
<i class="icon-arrow-circle-down"></i> icon-arrow-circle-down
<i class="icon-globe"></i> icon-globe
<i class="icon-wrench"></i> icon-wrench
<i class="icon-tasks"></i> icon-tasks

<i class="icon-filter"></i> icon-filter
<i class="icon-briefcase"></i> icon-briefcase
<i class="icon-arrows-alt"></i> icon-arrows-alt
<i class="icon-group"></i> icon-group
<i class="icon-users"></i> icon-users
<i class="icon-chain"></i> icon-chain
<i class="icon-link"></i> icon-link
<i class="icon-cloud"></i> icon-cloud
<i class="icon-flask"></i> icon-flask
<i class="icon-cut"></i> icon-cut
<i class="icon-scissors"></i> icon-scissors
<i class="icon-copy"></i> icon-copy
<i class="icon-files-o"></i> icon-files-o
<i class="icon-paperclip"></i> icon-paperclip
<i class="icon-save"></i> icon-save
<i class="icon-floppy-o"></i> icon-floppy-o
<i class="icon-square"></i> icon-square
<i class="icon-navicon"></i> icon-navicon
<i class="icon-reorder"></i> icon-reorder
<i class="icon-bars"></i> icon-bars
<i class="icon-list-ul"></i> icon-list-ul
<i class="icon-list-ol"></i> icon-list-ol
<i class="icon-strikethrough"></i> icon-strikethrough
<i class="icon-underline"></i> icon-underline
<i class="icon-table"></i> icon-table

<i class="icon-magic"></i> icon-magic
<i class="icon-truck"></i> icon-truck
<i class="icon-pinterest"></i> icon-pinterest
<i class="icon-pinterest-square"></i> icon-pinterest-square
<i class="icon-google-plus-square"></i> icon-google-plus-square
<i class="icon-google-plus"></i> icon-google-plus
<i class="icon-money"></i> icon-money
<i class="icon-caret-down"></i> icon-caret-down
<i class="icon-caret-up"></i> icon-caret-up
<i class="icon-caret-left"></i> icon-caret-left
<i class="icon-caret-right"></i> icon-caret-right
<i class="icon-columns"></i> icon-columns
<i class="icon-unsorted"></i> icon-unsorted
<i class="icon-sort"></i> icon-sort
<i class="icon-sort-down"></i> icon-sort-down
<i class="icon-sort-desc"></i> icon-sort-desc
<i class="icon-sort-up"></i> icon-sort-up
<i class="icon-sort-asc"></i> icon-sort-asc

<i class="icon-envelope"></i> icon-envelope
<i class="icon-linkedin"></i> icon-linkedin
<i class="icon-rotate-left"></i> icon-rotate-left
<i class="icon-undo"></i> icon-undo
<i class="icon-legal"></i> icon-legal
<i class="icon-gavel"></i> icon-gavel
<i class="icon-dashboard"></i> icon-dashboard
<i class="icon-tachometer"></i> icon-tachometer
<i class="icon-comment-o"></i> icon-comment-o
<i class="icon-comments-o"></i> icon-comments-o
<i class="icon-flash"></i> icon-flash
<i class="icon-bolt"></i> icon-bolt
<i class="icon-sitemap"></i> icon-sitemap
<i class="icon-umbrella"></i> icon-umbrella
<i class="icon-paste"></i> icon-paste
<i class="icon-clipboard"></i> icon-clipboard
<i class="icon-lightbulb-o"></i> icon-lightbulb-o
<i class="icon-exchange"></i> icon-exchange
<i class="icon-cloud-download"></i> icon-cloud-download
<i class="icon-cloud-upload"></i> icon-cloud-upload

<i class="icon-user-md"></i> icon-user-md
<i class="icon-stethoscope"></i> icon-stethoscope
<i class="icon-suitcase"></i> icon-suitcase
<i class="icon-bell-o"></i> icon-bell-o
<i class="icon-coffee"></i> icon-coffee
<i class="icon-cutlery"></i> icon-cutlery
<i class="icon-file-text-o"></i> icon-file-text-o
<i class="icon-building-o"></i> icon-building-o
<i class="icon-hospital-o"></i> icon-hospital-o
<i class="icon-ambulance"></i> icon-ambulance
<i class="icon-medkit"></i> icon-medkit
<i class="icon-fighter-jet"></i> icon-fighter-jet
<i class="icon-beer"></i> icon-beer
<i class="icon-h-square"></i> icon-h-square
<i class="icon-plus-square"></i> icon-plus-square

<i class="icon-angle-double-left"></i> icon-angle-double-left
<i class="icon-angle-double-right"></i> icon-angle-double-right
<i class="icon-angle-double-up"></i> icon-angle-double-up
<i class="icon-angle-double-down"></i> icon-angle-double-down
<i class="icon-angle-left"></i> icon-angle-left
<i class="icon-angle-right"></i> icon-angle-right
<i class="icon-angle-up"></i> icon-angle-up
<i class="icon-angle-down"></i> icon-angle-down
<i class="icon-desktop"></i> icon-desktop
<i class="icon-laptop"></i> icon-laptop
<i class="icon-tablet"></i> icon-tablet
<i class="icon-mobile-phone"></i> icon-mobile-phone
<i class="icon-mobile"></i> icon-mobile
<i class="icon-circle-o"></i> icon-circle-o
<i class="icon-quote-left"></i> icon-quote-left
<i class="icon-quote-right"></i> icon-quote-right

<i class="icon-spinner"></i> icon-spinner
<i class="icon-circle"></i> icon-circle
<i class="icon-mail-reply"></i> icon-mail-reply
<i class="icon-reply"></i> icon-reply
<i class="icon-github-alt"></i> icon-github-alt
<i class="icon-folder-o"></i> icon-folder-o
<i class="icon-folder-open-o"></i> icon-folder-open-o
<i class="icon-smile-o"></i> icon-smile-o
<i class="icon-frown-o"></i> icon-frown-o
<i class="icon-meh-o"></i> icon-meh-o
<i class="icon-gamepad"></i> icon-gamepad
<i class="icon-keyboard-o"></i> icon-keyboard-o
<i class="icon-flag-o"></i> icon-flag-o
<i class="icon-flag-checkered"></i> icon-flag-checkered

<i class="icon-terminal"></i> icon-terminal
<i class="icon-code"></i> icon-code
<i class="icon-mail-reply-all"></i> icon-mail-reply-all
<i class="icon-reply-all"></i> icon-reply-all
<i class="icon-star-half-empty"></i> icon-star-half-empty
<i class="icon-star-half-full"></i> icon-star-half-full
<i class="icon-star-half-o"></i> icon-star-half-o
<i class="icon-location-arrow"></i> icon-location-arrow
<i class="icon-crop"></i> icon-crop
<i class="icon-code-fork"></i> icon-code-fork
<i class="icon-unlink"></i> icon-unlink
<i class="icon-chain-broken"></i> icon-chain-broken
<i class="icon-question"></i> icon-question
<i class="icon-info"></i> icon-info
<i class="icon-exclamation"></i> icon-exclamation
<i class="icon-superscript"></i> icon-superscript
<i class="icon-subscript"></i> icon-subscript
<i class="icon-eraser"></i> icon-eraser
<i class="icon-puzzle-piece"></i> icon-puzzle-piece

<i class="icon-microphone"></i> icon-microphone
<i class="icon-microphone-slash"></i> icon-microphone-slash
<i class="icon-shield"></i> icon-shield
<i class="icon-calendar-o"></i> icon-calendar-o
<i class="icon-fire-extinguisher"></i> icon-fire-extinguisher
<i class="icon-rocket"></i> icon-rocket
<i class="icon-maxcdn"></i> icon-maxcdn
<i class="icon-chevron-circle-left"></i> icon-chevron-circle-left
<i class="icon-chevron-circle-right"></i> icon-chevron-circle-right
<i class="icon-chevron-circle-up"></i> icon-chevron-circle-up
<i class="icon-chevron-circle-down"></i> icon-chevron-circle-down
<i class="icon-html5"></i> icon-html5
<i class="icon-css3"></i> icon-css3
<i class="icon-anchor"></i> icon-anchor
<i class="icon-unlock-alt"></i> icon-unlock-alt

<i class="icon-bullseye"></i> icon-bullseye
<i class="icon-ellipsis-h"></i> icon-ellipsis-h
<i class="icon-ellipsis-v"></i> icon-ellipsis-v
<i class="icon-rss-square"></i> icon-rss-square
<i class="icon-play-circle"></i> icon-play-circle
<i class="icon-ticket"></i> icon-ticket
<i class="icon-minus-square"></i> icon-minus-square
<i class="icon-minus-square-o"></i> icon-minus-square-o
<i class="icon-level-up"></i> icon-level-up
<i class="icon-level-down"></i> icon-level-down
<i class="icon-check-square"></i> icon-check-square
<i class="icon-pencil-square"></i> icon-pencil-square
<i class="icon-external-link-square"></i> icon-external-link-square
<i class="icon-share-square"></i> icon-share-square
<i class="icon-compass"></i> icon-compass

<i class="icon-toggle-down"></i> icon-toggle-down
<i class="icon-caret-square-o-down"></i> icon-caret-square-o-down
<i class="icon-toggle-up"></i> icon-toggle-up
<i class="icon-caret-square-o-up"></i> icon-caret-square-o-up
<i class="icon-toggle-right"></i> icon-toggle-right
<i class="icon-caret-square-o-right"></i> icon-caret-square-o-right
<i class="icon-euro"></i> icon-euro
<i class="icon-eur"></i> icon-eur
<i class="icon-gbp"></i> icon-gbp
<i class="icon-dollar"></i> icon-dollar
<i class="icon-usd"></i> icon-usd
<i class="icon-rupee"></i> icon-rupee
<i class="icon-inr"></i> icon-inr
<i class="icon-cny"></i> icon-cny
<i class="icon-rmb"></i> icon-rmb
<i class="icon-yen"></i> icon-yen
<i class="icon-jpy"></i> icon-jpy
<i class="icon-ruble"></i> icon-ruble
<i class="icon-rouble"></i> icon-rouble
<i class="icon-rub"></i> icon-rub
<i class="icon-won"></i> icon-won
<i class="icon-krw"></i> icon-krw
<i class="icon-bitcoin"></i> icon-bitcoin
<i class="icon-btc"></i> icon-btc
<i class="icon-file"></i> icon-file
<i class="icon-file-text"></i> icon-file-text
<i class="icon-sort-alpha-asc"></i> icon-sort-alpha-asc
<i class="icon-sort-alpha-desc"></i> icon-sort-alpha-desc

<i class="icon-sort-amount-asc"></i> icon-sort-amount-asc
<i class="icon-sort-amount-desc"></i> icon-sort-amount-desc
<i class="icon-sort-numeric-asc"></i> icon-sort-numeric-asc
<i class="icon-sort-numeric-desc"></i> icon-sort-numeric-desc
<i class="icon-thumbs-up"></i> icon-thumbs-up
<i class="icon-thumbs-down"></i> icon-thumbs-down
<i class="icon-youtube-square"></i> icon-youtube-square
<i class="icon-youtube"></i> icon-youtube
<i class="icon-xing"></i> icon-xing
<i class="icon-xing-square"></i> icon-xing-square
<i class="icon-youtube-play"></i> icon-youtube-play
<i class="icon-dropbox"></i> icon-dropbox
<i class="icon-stack-overflow"></i> icon-stack-overflow
<i class="icon-instagram"></i> icon-instagram
<i class="icon-flickr"></i> icon-flickr

<i class="icon-adn"></i> icon-adn
<i class="icon-bitbucket"></i> icon-bitbucket
<i class="icon-bitbucket-square"></i> icon-bitbucket-square
<i class="icon-tumblr"></i> icon-tumblr
<i class="icon-tumblr-square"></i> icon-tumblr-square
<i class="icon-long-arrow-down"></i> icon-long-arrow-down
<i class="icon-long-arrow-up"></i> icon-long-arrow-up
<i class="icon-long-arrow-left"></i> icon-long-arrow-left
<i class="icon-long-arrow-right"></i> icon-long-arrow-right
<i class="icon-apple"></i> icon-apple
<i class="icon-windows"></i> icon-windows
<i class="icon-android"></i> icon-android
<i class="icon-linux"></i> icon-linux
<i class="icon-dribbble"></i> icon-dribbble
<i class="icon-skype"></i> icon-skype

<i class="icon-foursquare"></i> icon-foursquare
<i class="icon-trello"></i> icon-trello
<i class="icon-female"></i> icon-female
<i class="icon-male"></i> icon-male
<i class="icon-gittip"></i> icon-gittip
<i class="icon-sun-o"></i> icon-sun-o
<i class="icon-moon-o"></i> icon-moon-o
<i class="icon-archive"></i> icon-archive
<i class="icon-bug"></i> icon-bug
<i class="icon-vk"></i> icon-vk
<i class="icon-weibo"></i> icon-weibo
<i class="icon-renren"></i> icon-renren
<i class="icon-pagelines"></i> icon-pagelines
<i class="icon-stack-exchange"></i> icon-stack-exchange
<i class="icon-arrow-circle-o-right"></i> icon-arrow-circle-o-right

<i class="icon-arrow-circle-o-left"></i> icon-arrow-circle-o-left
<i class="icon-toggle-left"></i> icon-toggle-left
<i class="icon-caret-square-o-left"></i> icon-caret-square-o-left
<i class="icon-dot-circle-o"></i> icon-dot-circle-o
<i class="icon-wheelchair"></i> icon-wheelchair
<i class="icon-vimeo-square"></i> icon-vimeo-square
<i class="icon-turkish-lira"></i> icon-turkish-lira
<i class="icon-try"></i> icon-try
<i class="icon-plus-square-o"></i> icon-plus-square-o
<i class="icon-space-shuttle"></i> icon-space-shuttle
<i class="icon-slack"></i> icon-slack
<i class="icon-envelope-square"></i> icon-envelope-square
<i class="icon-wordpress"></i> icon-wordpress
<i class="icon-openid"></i> icon-openid
<i class="icon-institution"></i> icon-institution
<i class="icon-bank"></i> icon-bank
<i class="icon-university"></i> icon-university
<i class="icon-mortar-board"></i> icon-mortar-board
<i class="icon-graduation-cap"></i> icon-graduation-cap
<i class="icon-yahoo"></i> icon-yahoo

<i class="icon-google"></i> icon-google
<i class="icon-reddit"></i> icon-reddit
<i class="icon-reddit-square"></i> icon-reddit-square
<i class="icon-stumbleupon-circle"></i> icon-stumbleupon-circle
<i class="icon-stumbleupon"></i> icon-stumbleupon
<i class="icon-delicious"></i> icon-delicious
<i class="icon-digg"></i> icon-digg
<i class="icon-pied-piper-square"></i> icon-pied-piper-square
<i class="icon-pied-piper"></i> icon-pied-piper
<i class="icon-pied-piper-alt"></i> icon-pied-piper-alt
<i class="icon-drupal"></i> icon-drupal
<i class="icon-joomla"></i> icon-joomla
<i class="icon-language"></i> icon-language
<i class="icon-fax"></i> icon-fax
<i class="icon-building"></i> icon-building
<i class="icon-child"></i> icon-child

<i class="icon-paw"></i> icon-paw
<i class="icon-spoon"></i> icon-spoon
<i class="icon-cube"></i> icon-cube
<i class="icon-cubes"></i> icon-cubes
<i class="icon-behance"></i> icon-behance
<i class="icon-behance-square"></i> icon-behance-square
<i class="icon-steam"></i> icon-steam
<i class="icon-steam-square"></i> icon-steam-square
<i class="icon-recycle"></i> icon-recycle
<i class="icon-automobile"></i> icon-automobile
<i class="icon-car"></i> icon-car
<i class="icon-cab"></i> icon-cab
<i class="icon-taxi"></i> icon-taxi
<i class="icon-tree"></i> icon-tree
<i class="icon-spotify"></i> icon-spotify
<i class="icon-deviantart"></i> icon-deviantart
<i class="icon-soundcloud"></i> icon-soundcloud

<i class="icon-database"></i> icon-database
<i class="icon-file-pdf-o"></i> icon-file-pdf-o
<i class="icon-file-word-o"></i> icon-file-word-o
<i class="icon-file-excel-o"></i> icon-file-excel-o
<i class="icon-file-powerpoint-o"></i> icon-file-powerpoint-o
<i class="icon-file-photo-o"></i> icon-file-photo-o
<i class="icon-file-picture-o"></i> icon-file-picture-o
<i class="icon-file-image-o"></i> icon-file-image-o
<i class="icon-file-zip-o"></i> icon-file-zip-o
<i class="icon-file-archive-o"></i> icon-file-archive-o
<i class="icon-file-sound-o"></i> icon-file-sound-o
<i class="icon-file-audio-o"></i> icon-file-audio-o
<i class="icon-file-movie-o"></i> icon-file-movie-o
<i class="icon-file-video-o"></i> icon-file-video-o
<i class="icon-file-code-o"></i> icon-file-code-o
<i class="icon-vine"></i> icon-vine
<i class="icon-codepen"></i> icon-codepen
<i class="icon-jsfiddle"></i> icon-jsfiddle
<i class="icon-life-bouy"></i> icon-life-bouy
<i class="icon-life-saver"></i> icon-life-saver
<i class="icon-support"></i> icon-support
<i class="icon-life-ring"></i> icon-life-ring
<i class="icon-circle-o-notch"></i> icon-circle-o-notch

<i class="icon-ra"></i> icon-ra
<i class="icon-rebel"></i> icon-rebel
<i class="icon-ge"></i> icon-ge
<i class="icon-empire"></i> icon-empire
<i class="icon-git-square"></i> icon-git-square
<i class="icon-git"></i> icon-git
<i class="icon-hacker-news"></i> icon-hacker-news
<i class="icon-tencent-weibo"></i> icon-tencent-weibo
<i class="icon-qq"></i> icon-qq
<i class="icon-wechat"></i> icon-wechat
<i class="icon-weixin"></i> icon-weixin
<i class="icon-send"></i> icon-send
<i class="icon-paper-plane"></i> icon-paper-plane
<i class="icon-send-o"></i> icon-send-o
<i class="icon-paper-plane-o"></i> icon-paper-plane-o
<i class="icon-history"></i> icon-history
<i class="icon-circle-thin"></i> icon-circle-thin
<i class="icon-header"></i> icon-header
<i class="icon-paragraph"></i> icon-paragraph
<i class="icon-sliders"></i> icon-sliders
<i class="icon-share-alt"></i> icon-share-alt
<i class="icon-share-alt-square"></i> icon-share-alt-square
<i class="icon-bomb"></i> icon-bomb
</section>
</body>
</html>