<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>日历签到功能代码</title>
        <script type="text/javascript" src="__PUBLIC__/Dmin/js/jquery-1.8.3.min.js" ></script>
        <style type="text/css">
            *{margin: 0; padding: 0;}
            .home{ width: 218px; margin: auto; background: #008573;}
            .home thead>tr>td{ width: 26px; height: 30px; text-align: center; color: #fff;}
            .home tbody>tr>td{ width: 30px; height: 28px; margin: 1px; background: #ececec; text-align: center;}
            .float{ width: 109px;height: 30px; font-size: 20px;}
            .today{ color: red; font-size: 20px;}
            .isign{ color: #1591fa;font-size: 20px;}
            .nosign{color: #008573;font-size: 20px;}
        </style>
    </head>
    <body>
        <div class="home">
            <table  cellspacing="1" cellpadding="1" >
                <thead id="thead">
                    <tr>
                        <td>日</td>
                        <td>一</td>
                        <td>二</td>
                        <td>三</td>
                        <td>四</td>
                        <td>五</td>
                        <td>六</td>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
            <button class="float sign">签到</button><button class="float issign">本月已签</button>
        </div>
    </body>
    <script type="text/javascript">
        $(function() {
            var dayArr = [];
            var date = new Date(),_nullnei = '',de = date.getDate() + 1;
            //获取当月的1日等于星期几
            var monthFirst = new Date(date.getFullYear(), parseInt(date.getMonth()), 1).getDay();
            //获取月
            var d = new Date(date.getFullYear(), parseInt(date.getMonth() + 1), 0); 
            //获取当前月的天数
            var conter = d.getDate();
            //遍历日历网格
            for (var i = 1; i <= 6; i++) {
                _nullnei += "<tr>";
                for (var j = 1; j <= 7; j++){
                    _nullnei += '<td></td>';
                }
                _nullnei += "</tr>";
            }
            $('#tbody').html(_nullnei);
            //遍历网格内容
            var $slitd = $('#tbody').find("td");
            for (var i = 0; i < conter; i++){
                $slitd.eq(i + monthFirst).html("<p>" + parseInt(i + 1) + "</p>");
            }
            FunToday();//给当前日加样式
            FunNoday();//本月未签到样式
            FunIsday(dayArr);//查询已签到
            $('.sign').click(function(){
                var today = de -1;
                var month = (date.getMonth() + 1);   //当前月
                $.ajax({
                    type:"post",
                    url:"{:U('Infor/dosign')}",
                    data:{
                        today:today,
                        month:month
                    },
                    success:function(msg){
                        dayArr = msg;
                        FunIsday(dayArr);
//                        alert(msg);
                    }
                });
//                if (true){
//                    dayArr.push(de - 1);//把当日传入已签
//                    FunIsday();	//再次查询签到
//                    alert('已签到');
//                }
            });
            $('.issign').click(function() {
                alert('你本月已签到' + dayArr.length + '次');
            });
            function FunToday() {
                if(var i=(de-1)){
                    $slitd.eq(parseInt(i)).addClass('today');
                }
            }
            function FunNoday() {
                for (var i = 0; i < de; i++){
                    $slitd.eq(i).addClass('nosign');
                }
            };
            function FunIsday(dayArr) {
                for (var i = 0; i < conter; i++){
                    for (var j = 0; j < dayArr.length; j++){
                        if (i === dayArr[j]){
                            $slitd.eq(i + 1).addClass('isign');
                        }
                    }
                }
            }
        })
    </script>
</html>
