<include file="Public/style" />
<form class="navbar-form" method="post"  id="listform">
    <div class="panel panel-default">
        <div class="panel-heading"><b>用户组列表</b>
            <a class="btn btn-success btn-sm pull-right" href="javascript:GroupAdd();"><span class="fa fa-plus-circle"></span> 添加用户组</a>
        </div>
        <table class="table table-hover table-condensed text-center">

            <tr>
                <td>I    D</td>
                <td>用户组</td>
                <td>操  作</td>
            </tr>
            <foreach name="groupList" item="v">
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$v['title']}</td>
                    <td>
                      <div class="btn-group"> 
                        <a target="right" class="btn btn-primary btn-sm" href="javascript:GroupRule({$v['id']},'{$v[\'title\']}');"><span class="fa fa-lock"></span> 分配权限</a>
                        <a class="btn btn-warning btn-sm" href="javascript:GroupEdit({$v['id']});"><span class="fa fa-edit"></span> 修改</a>
                        <a class="btn btn-danger btn-sm" href="javascript:GroupDel({$v['id']})"><span class="fa fa-trash-o"></span> 删除</a>
                        <a class="btn btn-success btn-sm" href="javascript:test({$v['id']});"><span class="fa fa-plus-circle"></span> 添加用户</a>
                      </div></td>
                </tr>
            </foreach>
            <tr>
                <td colspan="3">{$page}</td> 
            </tr>
        </table>
    </div>
</form>
<include file="Public/script"/>
<script type="text/javascript">
    $(document).ready(function(){
        $('#listform').attr('method','POST');
//        document.getElementById('#listform').setAttribute('method','POST');
    });
//  友情
function GroupAdd(){
    layer.open({
          type: 2,
          title: "添加用户组",
          area: ['35%', '160px'],
          shade: 0.8,
          shadeClose: true,
          content: '{:U("Rule/groupde")}'
        });
}

function GroupEdit(id){
    layer.open({
        type: 2,
        title: "用户组修改",
        area: ['35%', '160px'],
        shade: 0.8,
        maxmin:true,
        anim:6,
        shadeClose: true,
        content: '{:U("Rule/groupde")}&id='+id
    });
}

function GroupRule(id,str){
//    layer.open({
//        type: 2,
//        title: "用户组权限分配: <font color='red'>当前选择的权限【"+str+"】</font>",
//        area: ['80%', '90%'],
//        shade: 0.8,
//        shadeClose: true,
//        content: '{:U("Rule/grouprule")}&id='+id
//    });
    location.href='{:U("Rule/grouprule")}&id='+id
}

function test(){
    
    layer.msg("正在开发中......");

}

function GroupDel(id){
    layer.msg("正在删除...",{icon:16,time:2000});
    layer.confirm('确认要删除吗？', {icon: 3, title:'用户组删除'}, function(index){
        $.post('{:U("Rule/groupdel")}',{id:id},function(rs){
            if (rs ==1){
                layer.close(index);
                layer.msg("删除成功",{icon:1,time:2000}, function () {
                    window.location.reload();
                });
            }else{
                layer.msg("删除失败",{icon:2,time:2000});
            }
        },'json');
    });
}





//搜索
function changesearch(){  
    
}



//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
    if (this.checked) {
      this.checked = false;
    }
    else {
      this.checked = true;
    }
  });
})

//批量删除
function DelSelect(){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){
    var t=confirm("您确认要删除选中的内容吗？");
    if (t==false) return false;   
    $("#listform").submit();    
  }
  else{
    alert("请选择您要删除的内容!");
    return false;
  }
}

//批量排序
function sorts(){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){  
    
    $("#listform").submit();    
  }
  else{
    alert("请选择要操作的内容!");
    return false;
  }
}


//批量首页显示
function changeishome(o){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){
    
    $("#listform").submit();  
  }
  else{
    alert("请选择要操作的内容!");    
  
    return false;
  }
}

//批量推荐
function changeisvouch(o){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){
    
    
    $("#listform").submit();  
  }
  else{
    alert("请选择要操作的内容!");  
    
    return false;
  }
}

//批量置顶
function changeistop(o){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){    
    
    $("#listform").submit();  
  }
  else{
    alert("请选择要操作的内容!");    
  
    return false;
  }
}


//批量移动
function changecate(o){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){    
    
    $("#listform").submit();    
  }
  else{
    alert("请选择要操作的内容!");
    
    return false;
  }
}

//批量复制
function changecopy(o){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){  
    var i = 0;
      $("input[name='id[]']").each(function(){
        if (this.checked==true) {
        i++;
      }   
      });
    if(i>1){ 
        alert("只能选择一条信息!");
      $(o).find("option:first").prop("selected","selected");
    }else{
    
      $("#listform").submit();    
    } 
  }
  else{
    alert("请选择要复制的内容!");
    $(o).find("option:first").prop("selected","selected");
    return false;
  }
}

</script>