<include file="Public:link"/>
<form method="post" class="well" action="" onsubmit="return UserAddOK();"  enctype="multipart/form-data"  >
    <table style="background-color: #fff;" class="table table-invoice">
        <!--隐藏id-->
        <input type="hidden" name="id"  id='id' value="{$data['id']}">
        <tr>
            <th>用户名：</th>
            <td><input  type="text" class="form-control" value="{$data['contact']}" id='contact' name="contact" data-validate="required:请输入用户名" /></td>
        </tr>
        <tr>
            <th>密&nbsp;码：</th>
            <td><if condition='$data'>
                <input  type="password" class="form-control" value="" id='password' name="password" data-validate="required:请输入密码" />
                <span class="help-block"><b>注：</b>不修改密码留空即可......</span>
                <else/>
                <input  type="password" class="form-control" value="{$data['password']}" id='password' name="password" data-validate="required:请输入密码" />
            </if></td>
        </tr>
        <tr>
            <th>用户组：</th>
            <td>
                <select name="group" id='group' class="form-control">
                    <foreach name="grouplist" item='v'>
                        <option  value="{$v.id}" <if condition="$data['group'] eq $v['id']"> selected </if> >{$v['title']}</option>
                    </foreach>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-info btn-sm" id='submit' type="submit"><span class="fa fa-check-circle"></span> 提交</button>
                <button class="btn btn-info btn-sm" id='reset' type="reset"><span class="fa fa-minus-circle"></span> 重置</button>
            </td>
        </tr>
    </table>
</form>
<script src="__PUBLIC__/bs/js/data-tables/jquery.dataTables.js"></script>
<include file="Public/_de"/>
<include file="Public/script"/>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    //管理员设置
    function UserAddOK(){
        var id = $("#id").val();
        var contact  = $("#contact").val();
        if ($('#contact').val() == ''){
            layer.msg("请输入用户名");  return false;
        }
        var password  = $("#password").val();
//         if ($('#password').val() == ''){
//            layer.msg("密码不能为空");  return false;
//         }

        var group     = $("#group").find("option:selected").val();
        $.post('{:U("Rule/userde")}',{contact:contact,password:password,group:group,id:id},function(rs){
            if(rs==1){
                parent.layer.close();
                parent.layer.msg('操作成功！',{icon:1,time:2000});
                setTimeout(function () {
                    parent.window.location.reload();
                },2000);
            }
        },'json');
        return false;
    }
</script>